@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.form-error {
  @apply mt-2;
}

.fon-size-ten-px {
  font-size: 12px;
}

.width {
  width: 270px;
}
